"Point in Time" Regulation Content
Securities Act
National Instrument 31-103 Registration Requirements and Exemptions
and Ongoing Registrant Obligations
B.C. Reg. 226A/2009
(i)
Bonds, debentures, treasury bills and other securities of or
guaranteed by the Government of Canada, of the United Kingdom,
of the United States of America and of any other national
foreign government (provided such foreign government
securities are currently rated Aaa or AAA by Moody's Investors
Service, Inc. or Standard & Poor's Corporation,
respectively), maturing (or called for redemption):
