"Point in Time" Regulation Content
Securities Act
National Instrument 31-103 Registration Requirements and Exemptions
and Ongoing Registrant Obligations
B.C. Reg. 226A/2009
section 14.6
[holding client assets in trust]
1. Rule 3.3.1
[General]
;
2. Rule 3.3.2
[Cash]
; and
3. Policy No. 4
[Internal Control Policy Statements — Policy Statement 4:
Cash and Securities, and Policy Statement 5: Segregation of
Clients' Securities]
