"Point in Time" Regulation Content
Securities Act
National Instrument 31-103 Registration Requirements and Exemptions
and Ongoing Registrant Obligations
B.C. Reg. 226A/2009
5.
Add 100% of long-term related party debt unless the firm and
the lender have executed a subordination agreement in the form
set out in Appendix B and the firm has delivered a copy of the
agreement to the regulator or, in Québec, the securities
regulatory authority
