"Point in Time" Regulation Content
Securities Act
National Instrument 41-101 General Prospectus Requirements
B.C. Reg. 59/2008
A.
CANADIAN CITIZENSHIP
YES
NO
(i) Are you a Canadian Citizen?
(ii) Are you a person lawfully in Canada as an immigrant but
are not yet a Canadian citizen?
(iii) If "Yes" to Question 2A(ii), the number of years of
continuous residence in Canada:
B.
OTHER CITIZENSHIP
YES
NO
(i) Do you hold citizenship in any country other than Canada?
(ii) If "Yes" to Question 2B (i), the name of the country(s):
(iii) Please provide U.S. Social Security number, where you
have such a number
