"Point in Time" Regulation Content
Securities Act
National Instrument 31-103 Registration Requirements and Exemptions
and Ongoing Registrant Obligations
B.C. Reg. 226A/2009
NI 31-103 Provision
IIROC Provision
section 12.1
[capital requirements]
1. Dealer Member Rule 17.1; and
2. Form 1
Joint Regulatory Financial Questionnaire and
Report
— Part I, Statement B, "Notes and Instructions"
section 12.2
[subordination agreement]
1. Dealer Member Rule 5.2; and
2. Dealer Member Rule 5.2A
section 12.3
[insurance — dealer]
1. Dealer Member Rule 400.2
[Financial Institution Bond]
;
2. Dealer Member Rule 400.4
[Amounts Required]
; and
3. Dealer Member Rule 400.5
[Provisos with respect to Dealer Member
Rules 400.2, 400.3 and 400.4]
section 12.6
[global bonding or insurance]
1. Dealer Member Rule 400.7
[Global Financial Institution Bonds]
section 12.7
[notifying the regulator of a change, claim or cancellation]
1. Dealer Member Rule 17.6;
2. Dealer Member Rule 400.3
[Notice of Termination]
; and
3. Dealer Member Rule 400.3B
[Termination or Cancellation]
section 12.10
[annual financial statements]
1. Dealer Member Rule 16.2
[Dealer Member Filing Requirements]
; and
2. Form 1
Joint Regulatory Financial Questionnaire and Report
section 12.11
[interim financial information]
1. Dealer Member Rule 16.2
[Dealer Member Filing Requirements]
; and
2. Form 1
Joint Regulatory Financial Questionnaire and Report
section 12.12
[delivering financial information — dealer]
1. Dealer Member Rule 16.2
[Dealer Member Filing Requirements]
subsection 13.2 (3)
[know your client]
1. Dealer Member Rule 1300.1 (a) to (n)
[Identity and Creditworthiness]
;
2. Dealer Member Rule 1300.2;
3. Dealer Member Rule 2500, Section II
[Opening New Accounts]
; and
4. Form 2
New Client Application Form
section 13.3
[suitability]
1. Dealer Member Rule 1300.1 (o)
[Business Conduct]
;
2. Dealer Member Rule 1300.1 (p)
[Suitability Generally]
;
3. Dealer Member Rule 1300.1 (q)
[Suitability Determination
Required When Recommendation Provided]
;
4. Dealer Member Rule 1300.1 (r) and Dealer Member
Rule 1300.1 (s)
[Suitability Determination Not Required]
;
5. Dealer Member Rule 1300.1 (t)
[Corporation Approval]
;
6. Dealer Member Rule 2700, Section I
[Customer Suitability]
; and
7. Dealer Member Rule 3200
[Minimum Requirements for
Dealer Members Seeking Approval Under
Rule 1300.1 (t) for Suitability Relief for Trades
Not Recommended by the Member]
section 13.12
[restriction on lending to clients]
1. Dealer Member Rule 100
[Margin Requirements]
section 13.13
[disclosure when recommending the use of borrowed money]
1. Dealer Member Rule 29.26
section 13.15
[handling complaints]
1. Dealer Member Rule 2500B [Client Complaint Handling]; and
2. Dealer Member Rule 2500, Section VIII
[Client Complaints]
subsection 14.2 (2)
[relationship disclosure information]
1. Dealer Member Rule 3500
[Relationship Disclosure]
;
2. Dealer Member Rule 29.8;
3. Dealer Member Rule 200.1 (c);
4. Dealer Member Rule 200.1 (h);
5. Dealer Member Rule 1300.1 (p)
[Suitability Generally]
;
6. Dealer Member Rule 1300.1 (q)
[Suitability Determination
Required When Recommendation Provided]
;
7. Dealer Member Rule 1300.2;
8. Dealer Member Rule 2500B, Part 4
[Complaint procedures / standards]
; and
9. Dealer Member Rule 3500
[Relationship Disclosure]
section 14.6
[holding client assets in trust]
1. Dealer Member Rule 17.3
section 14.8
[securities subject to a safekeeping agreement]
1. Dealer Member Rule 17.2A; and
2. Dealer Member Rule 2600 — Internal Control Policy Statement
5
[Safekeeping of Clients' Securities]
section 14.9
[securities not subject to a safekeeping agreement]
1. Dealer Member Rule 17.3;
2. Dealer Member Rule 17.3A; and
3. Dealer Member Rule 200.1 (c)
section 14.12
[content and delivery of trade confirmation]
1. Dealer Member Rule 200.1 (h)
