"Point in Time" Regulation Content
Securities Act
National Instrument 41-101 General Prospectus Requirements
B.C. Reg. 59/2008
LAST NAME(S)
FIRST NAME(S)
MIDDLE NAME(S)
(If none, please state)
NAME(S) MOST COMMONLY KNOWN BY:
NAME OF ISSUER
PRESENT or PROPOSED POSITION(S) WITH THE ISSUER — check (√)
all positions below that are applicable.
(√)
IF DIRECTOR / OFFICER DISCLOSE THE DATE ELECTED / APPOINTED
IF OFFICER — PROVIDE TITLE IF OTHER — PROVIDE DETAILS
Month
Day
Year
Director
Officer
Other
