"Point in Time" Regulation Content
Securities Act
National Instrument 31-103 Registration Requirements and Exemptions
and Ongoing Registrant Obligations
B.C. Reg. 226A/2009
NI 31-103 Provision
MFDA Provision
section 12.1
[capital requirements]
1. Rule 3.1.1
[Minimum Levels]
;
2. Rule 3.1.2
[Notice]
;
3. Rule 3.2.2
[Member Capital]
;
4. Form 1; and
5. Policy No. 4
[Internal Control Policy Statements — Policy Statement 2:
Capital Adequacy]
section 12.2
[subordination agreement]
1. Form 1, Statement F
[Statement of Changes in Subordinated Loans]
; and
2. Membership Application Package — Schedule I (Subordinated
Loan Agreement)
section 12.3
[insurance — dealer]
1. Rule 4.1
[Financial Institution Bond]
;
2. Rule 4.4
[Amounts Required]
;
3. Rule 4.5
[Provisos]
;
4. Rule 4.6
[Qualified Carriers]
; and
5. Policy No. 4
[Internal Control Policy Statements — Policy Statement 3:
Insurance]
section 12.6
[global bonding or insurance]
1. Rule 4.7
[Global Financial Institution Bonds]
section 12.7
[notifying the regulator of a change, claim or cancellation]
1. Rule 4.2
[Notice of Termination]
; and
2. Rule 4.3
[Termination or Cancellation]
section 12.10
[annual financial statements]
1. Rule 3.5.1
[Monthly and Annual]
;
2. Rule 3.5.2
[Combined Financial Statements]
; and
3. Form 1
section 12.11
[interim financial information]
1. Rule 3.5.1
[Monthly and Annual]
;
2. Rule 3.5.2
[Combined Financial Statements]
; and
3. Form 1
section 12.12
[delivering financial information — dealer]
1. Rule 3.5.1
[Monthly and Annual]
section 13.3
[suitability]
1. Rule 2.2.1
["Know-Your-Client"]
; and
2. Policy No. 2
[Minimum Standards for Account Supervision]
section 13.12
[restriction on lending to clients]
1. Rule 3.2.1
[Client Lending and Margin]
; and
2. Rule 3.2.3
[Advancing Mutual Fund Redemption Proceeds]
section 13.13
[disclosure when recommending the use of borrowed money]
1. Rule 2.6
[Borrowing for Securities Purchases]
section 13.15
[handling complaints]
1. Rule 2.11
[Complaints]
;
2. Policy No. 3
[Complaint Handling, Supervisory Investigations and Internal
Discipline]
; and
3. Policy No. 6
[Information Reporting Requirements]
subsections 14.2 (2), (3) and (5.1)
[relationship disclosure information]
1. Rule 2.2.5
[Relationship Disclosure]
; and
2. Rule 2.4.3
[Operating Charges]
section 14.2.1
[pre-trade disclosure of charges]
1. Rule 2.4.4
[Transaction Fees or Charges]
section 14.5.2
[restriction on self-custody and qualified custodian
requirement]
1. Rule 3.3.1 [General];
2. Rule 3.3.2
[Cash]
;
3. Rule 3.3.3
[Securities]
; and
4. Policy No. 4
[Internal Control Policy Statements — Policy Statement 4:
Cash and Securities, and Policy Statement 5: Segregation of
Clients' Securities]
section 14.5.3
[cash and securities held by a qualified custodian]
1. Policy No. 4
[Internal Control Policy Statements — Policy Statement 4:
Cash and Securities, and Policy Statement 5: Segregation of
Clients' Securities]
section 14.6
[client and investment fund assets held by a registered firm
in trust]
1. Rule 3.3.1
[General]
;
2. Rule 3.3.2
[Cash]
;
3. Rule 3.3.3
[Securities]
; and
4. Policy No. 4
[Internal Control Policy Statements — Policy Statement 4:
Cash and Securities, and Policy Statement 5: Segregation of
Clients' Securities]
section 14.6.1
[custodial provisions relating to certain margin or security
interests]
1. Rule 3.2.1
[Client Lending and Margin]
section 14.6.2
[custodial provisions relating to short sales]
1. Rule 3.2.1
[Client Lending and Margin]
section 14.11.1
[determining market value]
1. Rule 5.3(1)(f)
[definition of "market value"]
; and
2. Definitions to Form 1
[definition of "market value of a security"]
section 14.12
[content and delivery of trade confirmation]
1. Rule 5.4.1
[Delivery of Confirmations]
;
2. Rule 5.4.2
[Automatic Plans]
; and
3. Rule 5.4.3
[Content]
section 14.14
[account statements]
1. Rule 5.3.1
[Delivery of Account Statement]
; and
2. Rule 5.3.2
[Content of Account Statement]
section 14.14.1
[additional statements]
1. Rule 5.3.1
[Delivery of Account Statement]
; and
2. Rule 5.3.2
[Content of Account Statement]
section 14.14.2
[security position cost information]
1. Rule 5.3 (1) (a)
[definition of "book cost"]
;
2. Rule 5.3 (1) (c)
[definition of "cost"]
; and
3. Rule 5.3.2 (c)
[Content of Account Statement — Market Value and Cost
Reporting]
section 14.17
[report on charges and other compensation]
1. Rule 5.3.3
[Report on Charges and Other Compensation]
section 14.18
[investment performance report]
1. Rule 5.3.4
[Performance Report]
; and
2. Policy No. 7
Performance Reporting
section 14.19
[content of investment performance report]
1. Rule 5.3.4
[Performance Report]
; and
2. Policy No. 7
Performance Reporting
section 14.20
[delivery of report on charges and other compensation and
investment performance report]
1. Rule 5.3.5
[Delivery of Report on Charges and Other Compensation and
Performance Report]
