./models
federal
node_modules
dist
package-lock.json
.DS_Store
mlops/orchestration/airflow/logs
mlops/orchestration/dbt/logs
mlops/orchestration/airflow/dags/__pycache__
web/backend-fastapi/analytics_data
.env

# For /examples
Acts
__pycache__
.ipynb_checkpoints
DB
exported_models
.ipynb_checkpoints
HTML_Acts
HTML_Regulations
examples/NER Training/*.jsonl
examples/NER Training/*.json
diffgram_processing