
"Point in Time" Regulation Content

Securities Act


National Instrument 31-103 Registration Requirements and Exemptions
and Ongoing Registrant Obligations

B.C. Reg. 226A/2009




Where securities of mutual funds qualified by prospectus for
sale in any province of Canada, the margin required is:



(i)

5% of the market value of the fund, where the fund is a money
market mutual fund as defined in National Instrument 81-102;
or



(ii)

the margin rate determined on the same basis as for listed
stocks multiplied by the market value of the fund.


