
"Point in Time" Regulation Content

Securities Act


National Instrument 41-101 General Prospectus Requirements

B.C. Reg. 59/2008





All Questions




All questions must have a response.

The response of "N/A" or "Not Applicable" for any questions,
except Questions 1 (B), 2B (iii) and 5 will not be accepted.





Questions

6 to 9



Please check (v) in the appropriate space provided. If your
answer to any of questions 6 to 9 is "YES", you
must
, in an attachment, provide complete details, including the
circumstances, relevant dates, names of the parties involved
and final disposition, if known.

Any attachment must be initialled by the person completing
this Form.

Responses must consider all time periods.





Delivery




The issuer should deliver completed Forms electronically via
the System for Electronic Document Analysis and Retrieval
(SEDAR) under the document type "Personal Information Form
and Authorization". Access to this document type is not
available to the public.



