
"Point in Time" Regulation Content

Securities Act


National Instrument 31-103 Registration Requirements and Exemptions
and Ongoing Registrant Obligations

B.C. Reg. 226A/2009



(i)

On securities (other than bonds and debentures) including
rights and warrants listed on any exchange in Canada or the
United States:




Long Positions — Margin Required




Securities selling at $2.00 or more — 50% of market value





Securities selling at $1.75 to $1.99 — 60% of market value





Securities selling at $1.50 to $1.74 — 80% of market value





Securities selling under $1.50 — 100% of market value




Short Positions — Credit Required




Securities selling at $2.00 or more — 150% of market value





Securities selling at $1.50 to $1.99 — $3.00 per share





Securities selling at $0.25 to $1.49 — 200% of market value





Securities selling at less than $0.25 — market value plus
$0.25 per shares



(ii)

For positions in securities (other than bonds and debentures
but including warrants and rights), 50% of the market value if
the security is a constituent security on a major
broadly-based index of one of the following exchanges:




(a) American Stock Exchange



(b) Australian Stock Exchange Limited



(c) Bolsa de Valores de Sao Paulo



(d) Borsa Italiana



(e) Boston Stock Exchange



(f) Chicago Board of Options Exchange



(g) Chicago Board of Trade



(h) Chicago Mercantile Exchange



(i) Chicago Stock Exchange



(j) Euronext Amsterdam



(k) Euronext Brussels



(l) Euronext Paris S.A.



(m) Frankfurt Stock Exchange




(n) London International Financial Futures and Options
Exchange




(o) London Stock Exchange



(p) Montreal Exchange



(q) New York Mercantile Exchange



(r) New York Stock Exchange



(s) New Zealand Exchange Limited



(t) Pacific Exchange



(u) Swiss Exchange




(v) The Stock Exchange of Hong Kong Limited




(w) Tokyo Stock Exchange



(x) Toronto Stock Exchange



(y) TSX Venture Exchange

