
"Point in Time" Regulation Content

Securities Act


National Instrument 41-101 General Prospectus Requirements

B.C. Reg. 59/2008






Local Jurisdiction






Regulator





Northwest Territories

Securities Registries

Department of Justice

Government of the Northwest Territories

P.O. Box 1320,

Yellowknife, Northwest Territories X1A 2L9

Telephone: (867) 873- 7490


www.justice.gov.nt.ca/SecuritiesRegistry/SecuritiesRegistry.html




Nunavut

Government of Nunavut

Legal Registries Division

P.O. Box 1000 – Station 570

Iqaluit, Nunavut X0A 0H0

Telephone: (867) 975-6590



Yukon

Registrar of Securities

Department of Justice

Andrew A. Philipsen Law Centre

2130 – 2nd Avenue, 3rd Floor

Whitehorse, Yukon Territory Y1A 5H6

Telephone: (867) 667-5005


