
"Point in Time" Regulation Content

Securities Act


National Instrument 41-101 General Prospectus Requirements

B.C. Reg. 59/2008




Delivery



The issuer should deliver completed Forms electronically via
the System for Electronic Document Analysis and Retrieval
(SEDAR) under the document type "Personal Information Form
and Authorization". Access to this document type is not
available to the public.



