
"Point in Time" Regulation Content

Securities Act


National Instrument 41-101 General Prospectus Requirements

B.C. Reg. 59/2008





CAUTION





An individual who makes a false statement commits an offence
under securities legislation. Steps may be taken to verify the
answers you have given in this Form, including verification of
information relating to any previous criminal record.


