National Instrument 31-103
Registration Requirements, Exemptions and
Ongoing Registrant Obligations
Securities Act
Clause
Name of Clause
Details
A
Fidelity
This clause insures against any loss through dishonest or
fraudulent act of employees.
B
On Premises
This clause insures against any loss of money and securities or
other property through robbery, burglary, theft, hold-up, or other
fraudulent means, mysterious disappearance, damage or destruction
while within any of the insured's offices, the offices of any
banking institution or clearing house or within any recognized
place of safe-deposit.
C
In Transit
This clause insures against any loss of money and securities or
other property through robbery, burglary, theft, hold-up,
misplacement, mysterious disappearance, damage or destruction,
while in transit in the custody of any employee or any person
acting as messenger except while in the mail or with a carrier for
hire other than an armoured motor vehicle company.
D
Forgery or
Alterations
This clause insures against any loss through forgery or alteration
of any cheques, drafts, promissory notes or other written orders
or directions to pay sums in money, excluding securities.
E
Securities
This clause insures against any loss through having purchased or
acquired, sold or delivered, or extended any credit or acted upon
securities or other written instruments which prove to have been
forged, counterfeited, raised or altered, or lost or stolen, or
through having guaranteed in writing or witnessed any signatures
upon any transfers, assignments or other documents or written
instruments.
