National Instrument 41-101
General Prospectus Requirements
Securities Act
Beneficiary group [See Instruction (1)]
[
Most recent year
]
[
Most recent year minus 1
]
[
Most recent year minus 2
]
[
Most recent year minus 3
]
[
Most recent year minus 4
]
Beneficiaries who received all [3 or 4] EAPs
[
Specify percentage
]% [
See Instructions (2) and (3)
]
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
Beneficiaries who received only 3 out of 4 EAPs [as applicable]
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
Beneficiaries who received only 2 out of [3 or 4] EAPs
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
Beneficiaries who received only 1 out of [3 or 4] EAPs
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
Beneficiaries who received no EAPs
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
[
Specify percentage
]%
Total
100%
100%
100%
100%
100%
