National Instrument 31-103
Registration Requirements, Exemptions and
Ongoing Registrant Obligations
Securities Act
1.
Individual information
Name of individual:
...................................................................................................................
RD number of individual:
............................................................................................................
The individual is relying on the client mobility exemption in each
of the following jurisdictions
of Canada:
................................................................................................................................
2.
Firm information
Name of the individual's sponsoring
firm:.......................................................................................
NRD number of firm:
..................................................................................................................
