National Instrument 41-101
General Prospectus Requirements
Securities Act
Maturity date of beneficiary group
Percentage of plans that did not reach maturity
[
Most recent maturity date by year
]
[
See Instruction (2)
]%
[
Most recent maturity date by year minus 1
]
[
See Instruction (2)
]%
[
Most recent maturity date by year minus 2
]
[
See Instruction (2)
]%
[
Most recent maturity date by year minus 3
]
[
See Instruction (2)
]%
[
Most recent maturity date by year minus 4
]
[
See Instruction (2)
]%
Average
[
See Instruction (1)
]%
