National Instrument 41-101
General Prospectus Requirements
Securities Act
..............................................................................................................................................
Date [within 30 days of the date of the preliminary prospectus]
