National Instrument 41-101
General Prospectus Requirements
Securities Act
C.
While you were a director, officer or insider of an issuer, did
any exchange or other self-regulatory entity ever refuse approval
for listing or quotation of the issuer, including (i) a listing
resulting from a business combination, reverse takeover or similar
transaction involving the issuer that is regulated by an SRE or
SRA, (ii) a backdoor listing or qualifying acquisition involving
the issuer (as those terms are defined in the TSX Company Manual
as amended from time to time) or (iii) a qualifying transaction,
reverse takeover or change of business involving the issuer (as
those terms are defined in the TSX Venture Corporate Finance
Manual as amended from time to time)? If yes, attach full
particulars.
