National Instrument 41-101
General Prospectus Requirements
Securities Act
A.
PROFESSIONAL DESIGNATION(S) — Identify any professional
designation held and professional associations to which you
belong, for example, Barrister & Solicitor, C.A., C.M.A.,
C.G.A., P.Eng., P.Geol., CFA, etc. and indicate which
organization and the date the designations were granted.
PROFESSIONAL DESIGNATION
and MEMBERSHIP NUMBER
GRANTOR OF DESIGNATION
and CANADIAN or FOREIGN JURISDICTION
DATE GRANTED
MM
YY
