National Instrument 41-101
General Prospectus Requirements
Securities Act
I,
..................................................................................................................................................................................,
hereby certify that:
(Please Print — Name of Individual)
