National Instrument 41-101
General Prospectus Requirements
Securities Act
CAUTION
An individual who makes a false statement commits an offence under
securities legislation. Steps may be taken to verify the answers
you have given in this Form, including verification of information
relating to any previous criminal record.
