National Instrument 41-101
General Prospectus Requirements
Securities Act
YES
NO
A.
Are you or have you during the last 10 years ever been a director,
officer, promoter, insider or control person for any reporting
issuer?
