National Instrument 41-101
General Prospectus Requirements
Securities Act
YES
NO
A.
Have you, in any Canadian or foreign jurisdiction, within the past
10 years
had a petition in bankruptcy issued against you, made a voluntary
assignment in bankruptcy, made a proposal under any bankruptcy or
insolvency legislation, been subject to any proceeding,
arrangement or compromise with creditors, or had a receiver,
receiver-manager or trustee appointed to manage your assets?
B.
Are you now an undischarged bankrupt?
C.
To the best of your knowledge, are you currently or have you
ever
been a director, officer, promoter, insider, or control person of
an issuer, in any Canadian or foreign jurisdiction, at the time of
events, or for a period of 12 months preceding the time of events,
where the issuer:
(i) has made a petition in bankruptcy, a voluntary assignment in
bankruptcy, a proposal under any bankruptcy or insolvency
legislation, been subject to any proceeding, arrangement or
compromise with creditors or had a receiver, receiver-manager or
trustee appointed to manage the issuer's assets?
(ii) is now an undischarged bankrupt?
