National Instrument 41-101
General Prospectus Requirements
Securities Act
Table of Contents
General Instructions
Part A — Plan Summary for a Scholarship Plan
Item 1 — Information about the Plan
Item 2 — Withdrawal and Cancellation Rights
Item 3 — Description of the Scholarship Plan
Item 4 — Suitability
Item 5 — The Plan's Investments
Item 6 — Contributions
Item 7 — Payments
Item 8 — Risks
Item 9 — Cancellation Rate
Item 10 — Costs
Item 11 — Guarantees
Item 12 — For More Information
Part B — Detailed Plan Disclosure — General Information
Item 1 — Cover Page Disclosure
1.1
Preliminary Prospectus Disclosure
1.2
Required Statement
1.3
Basic Disclosure about the Distribution
Item 2 — Inside Cover Page
2.1
Introduction
2.2
No Social Insurance Number
2.3
Payments Not Guaranteed
2.4
Withdrawal and Cancellation Rights
Item 3 — Table of Contents
3.1
Table of Contents
Item 4 — Introduction and Glossary
4.1
Introduction and Documents Incorporated by Reference
4.2
Terms Used in the Prospectus
Item 5 — Overview of Scholarship Plans
5.1
Introductory Heading
5.2
Description of Scholarship Plans
5.3
List of Scholarship Plans Offered
Item 6 — General Information about Scholarship Plan Life Cycle
6.1
Overview of Scholarship Plan Life Cycle
6.2
Enrolling in a Scholarship Plan
6.3
Unregistered Accounts
6.4
Government Grants
6.5
Contribution Limits
6.6
Additional Services
6.7
Fees and Expenses
6.8
Eligible Studies
6.9
Payments from the Scholarship Plan
6.10
Unclaimed Accounts
Item 7 — Scholarship Plans with Same Investment Objectives
(Multiple Prospectus)
7.1
Investment Objectives
Item 8 — Scholarship Plans with Same Investment Strategies
(Multiple Prospectus)
8.1
Investment Strategies
Item 9 — Scholarship Plans with Same Investment Restrictions
(Multiple Prospectus)
9.1
Investment Restrictions
Item 10 — Risks of Investing in a Scholarship Plan
10.1
Risks of Investing in a Scholarship Plan
Item 11 — Income Tax Considerations
11.1
Status of the Scholarship Plan
11.2
Taxation of the Scholarship Plan
11.3
Taxation of the Subscriber
11.4
Taxation of the Beneficiary
Item 12 — Organization and Management Details of the
Scholarship Plan
12.1
Organization and Management Details
Item 13 — Statement of Rights
13.1
Statement of Rights
Item 14 — Other Material Information
14.1
Other Material Information
Item 15 — Back Cover
15.1
Back Cover
Part C — Detailed Plan Disclosure — Plan-Specific Information
Item 1 — General
Item 2 — Introductory Disclosure
2.1
For a Single Prospectus
2.2
For a Multiple Prospectus
Item 3 — Plan Description
3.1
Plan Description
Item 4 — Eligibility and Suitability
4.1
Eligibility and Suitability
Item 5 — Beneficiary Group
5.1
Beneficiary Group
Item 6 — Eligible Studies
6.1
Summary of Eligible Studies
6.2
Description of Eligible Programs
6.3
Description of Ineligible Programs
Item 7 — Investment Objectives
7.1
Investment Objectives
Item 8 — Investment Strategies
8.1
Investment Strategies
Item 9 — Investment Restrictions
9.1
Investment Restrictions
Item 10 — Plan-Specific Risks
10.1
Plan Risks
10.2
Investment Risks
Item 11 — Annual Returns
11.1
Annual Returns
Item 12 — Contributions
12.1
Making Contributions
12.2
Missing Contributions
Item 13 — Withdrawing Contributions
13.1
Withdrawing Contributions
Item 14 — Fees and Expenses
14.1
Costs of Investing in the Scholarship Plan
14.2
Fees Payable by Subscriber from Contributions
14.3
Fees Payable by the Scholarship Plan
14.4
Transaction Fees
14.5
Fees for Additional Services
14.6
Refund of Sales Charges and Other Fees
Item 15 — Making Changes to a Subscriber's Plan
15.1
Changing Contributions
15.2
Changing Maturity Date
15.3
Changing Year of Eligibility
15.4
Changing Subscriber
15.5
Changing Beneficiary
15.6
Death or Disability of Beneficiary
Item 16 — Transfer of Scholarship Plan
16.1
Transferring to another plan managed by the investment fund
manager
16.2
Transferring to another RESP Provider
16.3
Transferring from another RESP Provider to the Scholarship Plan
Item 17 — Default, Withdrawal or Cancellation
17.1
Withdrawal or Cancellation by Subscriber
17.2
Subscriber Default
17.3
Cancellation by Investment Fund Manager
17.4
Re-activation of Subscriber's Plan
17.5
Plan Expiration
Item 18 — Plan Maturity
18.1
Description of Plan Maturity
18.2
If the Beneficiary Does Not Enrol in Eligible Studies
Item 19 — Payments from the Scholarship Plan
19.1
Return of Contributions
19.2
Payments to Beneficiaries
19.3
Amount of EAPs
19.4
Payments from the EAP Account
19.5
If Beneficiary Does Not Complete or Advance in Eligible Studies
Item 20 — Accumulated Income Payments
20.1
Accumulated Income Payments
Item 21 — Discretionary Payments to Beneficiaries
21.1
Discretionary Payments to Beneficiaries
21.2
Historical Amount of Discretionary Payments
Item 22 — Attrition
22.1
Attrition
22.2
Pre-Maturity Attrition
22.3
Post-Maturity Attrition
Item 23 — Other Material Information
23.1
Other Material Information
Part D — Detailed Plan Disclosure — Information about the
Organization
Item 1 — Legal Structure of the Scholarship Plan
1.1
Legal Structure
Item 2 — Organization and Management Details
2.1
Directors and Officers of the Plan
2.2
Investment Fund Manager
2.3
Trustee
2.4
The Foundation
2.5
Independent Review Committee
2.6
Other Groups
2.7
Remuneration of Directors, Officers, Trustees and Independent
Review Committee Members
2.8
Portfolio Adviser
2.9
Principal Distributor
2.10
Dealer Compensation
2.11
Custodian
2.12
Auditor
2.13
Transfer Agent and Registrar
2.14
Promoter
2.15
Other Service Providers
2.16
Ownership of the Investment Fund Manager and Other Service
Providers
2.17
Affiliates of the Investment Fund Manager
2.18
Designated Website
Item 3 — Experts
3.1
Names of Experts
3.2
Interests of Experts
Item 4 — Subscriber Matters
4.1
Subscriber Matters
4.2
Matters Requiring Subscriber Approval
4.3
Amendments to Declaration of Trust
4.4
Reporting to Subscribers and Beneficiaries
Item 5 — Business Practices
5.1
Policies
5.2
Brokerage Arrangements
5.3
Valuation of Portfolio Investments
5.4
Proxy Voting Disclosure for Portfolio Securities Held
Item 6 — Conflicts of Interest
6.1
Conflicts of Interest
6.2
Interests of Management and Others in Material Transactions
Item 7 — Material Contracts
7.1
Material Contracts
Item 8 — Legal Matters
8.1
Exemptions and Approvals
8.2
Legal and Administrative Proceedings
Item 9 — Certificates
9.1
Certificate of the Scholarship Plan
9.2
Certificate of the Investment Fund Manager
9.3
Certificate of the Principal Distributor
9.4
Certificate of the Promoter
9.5
Amendments
