National Instrument 24-102
Clearing Agency Requirements
Securities Act
I, ...........................................................
[name of Agent in full; if a corporation, full corporate name] of
..................................................... [business
address], hereby accept the appointment as agent for service of
process of ...................................................
[name of Clearing Agency] and hereby consent to act as agent for
service pursuant to the terms of the appointment executed
......................................................................
[name of Clearing Agency] on
.............................................. [date].
Dated:
.............................................................
........................................................
Signature of Agent
.........................................................
Print name of person signing and,
if Agent is not an individual,
the title of the person
