xmlschema
setuptools
beautifulsoup4
requests
lxml
aiohttp
aiofiles
certifi
xmltodict
fastapi
pydantic
uvicorn
llama-index
llama-index-core
neo4j
psycopg[binary]
psycopg2-binary
jinja2==3.0.3
python-multipart
langchain==0.1.14
#langchain_community==0.0.31
sentence-transformers
#langchain
langchain_community
python-multipart
python-keycloak
pytest
httpx
boto3
