B.C. Reg. 205/2011
O.C. 586/2011
Deposited December 2, 2011
effective July 1, 2012
This consolidation is current to March 5, 2024.
Financial Institutions Act
Creditor's Group Insurance
Requirements Regulation
Definition
1
In this regulation,
"creditor's group insurance"
has the same meaning as in Part 3
[Life Insurance]
or Part 4
[Accident and Sickness Insurance]
of the
Insurance Act
, as applicable.
Right of rescission — creditor's group insurance
2
(1)
An insurer must provide the debtor insured under a contract of
creditor's group insurance with a right to cancel the coverage by
notifying, not more than 10 days after the date the debtor insured
receives a group certificate in respect of the coverage, or within a
longer period specified in the contract,
(a)
the insurer, or
(b)
the person responsible for soliciting, or enrolling the debtor insured
into, the contract.
(2)
If a debtor insured exercises the right under subsection (1), the
insurer must refund to the debtor insured the whole of the premium
that has been paid in respect of the cancelled coverage.
[Provisions relevant to the enactment of this regulation:
Financial Institutions Act
, R.S.B.C. 1996, c. 141, section 289]
