B.C. Reg. 50/2021
Oil and Gas Commission
Deposited February 26, 2021
effective June 1, 2021
This consolidation is current to August 29, 2023.
See the
Cumulative B.C. Regulations Bulletin 2023
for amendments effective after August 29, 2023.
Link to consolidated regulation (PDF)
Oil and Gas Activities Act
Requirements for Consultation and
Notification Regulation
Part 1 — Interpretation
Definitions
1
In this regulation:
"Act"
means the
Oil and Gas Activities Act
;
"applicant"
means a person described in Division 1
[Who Must Consult or Notify]
of Part 2 as a person who must provide an invitation to consult
or a notice under Division 2 or 3
[Who Must Be Consulted or Notified]
of that Part;
"class"
, in relation to a facility, means a class of facility as defined in
section 1 of the Fee, Levy and Security Regulation;
"consultation distance"
means the distance set out in Division 5
[Consultation and Notification Distances]
of Part 2 between a place or thing referred to in section 8
[persons within consultation distance]
and the site of proposed activities;
"invitation to consult"
means an invitation to consult with respect to proposed activities,
given in accordance with sections 19
[information to be provided in all cases]
and 20
[additional information to be provided if obligation to consult]
;
"local authority"
means a municipality or a regional district;
"notice"
, except in Part 3, means a notice with respect to proposed
activities, given in accordance with section 19;
"notification distance"
means the distance set out in Division 5 of Part 2 between a place or
thing referred to in section 11
[persons within notification distance]
and the site of proposed activities;
"oil and gas road"
has the same meaning as in the Oil and Gas Road Regulation;
"proposed activities"
means oil and gas activities that are or will be the subject of an
application under section 24, 31 or 32 of the Act;
"registered land owner"
means a land owner other than one to whom a disposition of Crown land
has been issued under the
Land Act
;
"rights"
, in relation to a rights holder, means a right conferred on the
rights holder under that rights holder's licence, permit, agreement,
claim, certificate or registration;
"rights holder"
means a permit holder under the Act and a person who holds any of the
following authorizations:
(a)
a community forest agreement, first nations woodland licence, forest
licence, timber licence, timber sale licence, tree farm licence or
woodlot licence under the
Forest Act
;
(b)
a forestry licence to cut under the
Forest Act
, if the licence is a major licence as defined in section 1 of
that Act;
(c)
a permit for geothermal exploration, a lease or a well authorization
under the
Geothermal Resources Act
;
(d)
a licence of occupation under section 39 of the
Land Act
;
(e)
a claim under the
Mineral Tenure Act
;
(f)
a grazing licence or grazing permit under the
Range Act
;
(g)
a licence under the
Water Sustainability Act
, whether a conditional licence or a final licence;
(h)
a guide outfitter licence for Crown land, guiding territory
certificate for Crown land or registered trapline under the
Wildlife Act
;
"service date"
means the date on which a person is deemed, under
section 79 (2) of the Act or section 2 (2) of the
Service Regulation, to have received all of the information set out in
section 19 or 20, or both, of this regulation, as
applicable;
"wellsite"
means the area within which an applicant intends to locate one or more
wells and facilities.
Interpretation of "known"
2
In this regulation,
"known"
, when used to describe information, means that
(a)
the information is contained in the Integrated Land and Resource
Registry referred to in section 7.2 of the
Land Act
, or
(b)
the information, in relation to an applicant referred to in section 3
[applicants for permits]
,
(i)
has been made available by the commission to the applicant, or
(ii)
is or ought reasonably to be known to the applicant.
Part 2 — Obligations to Consult or Notify
Division 1 — Who Must Consult or Notify
Applicants for permits
3
(1)
Unless subsection (2) applies, a person who applies under section 24
of the Act for a permit to carry out an oil and gas activity must
carry out consultations or provide a notice in accordance with this
Part.
(2)
Consultation or notice is not required by a person referred to in
subsection (1) if the proposed activities will be carried out on
land that is not a land owner's land and are limited to one or more of
the following:
(a)
the maintenance of an oil and gas road;
(b)
the construction of a water pipeline or a gas pipeline that
(i)
will be used only for testing a well,
(ii)
will be located on the surface and within the wellsite, and
(iii)
will not be used after the well is constructed;
(c)
the operation of a pipeline.
Applicants for amendments to permits
4
A person who applies under section 31 of the Act for an amendment to a
permit must carry out consultations or provide a notice in accordance
with this Part if the commission requires this under
section 31 (5) of the Act.
Applicants for extensions of permits
5
A person who applies under section 32 of the Act for an extension of a
permit must carry out consultations or provide a notice in accordance
with this Part if the commission requires this under
section 32 (3) of the Act.
Division 2 — Who Must Be Consulted
Land owners to whom section 22 (2) or 31 (1) of the Act applies
6
If section 22 (2) or 31 (1) of the Act applies, an applicant must
provide an invitation to consult to the applicable land owner referred
to in those sections.
Rights holders
7
An applicant must provide an invitation to consult to a rights holder
if
(a)
the proposed activities are to be carried out on an area subject to
the rights of the rights holder, and
(b)
it is known to the applicant that the ability of the rights holder to
exercise those rights will be directly and adversely affected by the
proposed activities.
Persons within consultation distance
8
(1)
An applicant must provide an invitation to consult as follows:
(a)
to a local authority, if all or part of a structure owned by the local
authority is within an applicable consultation distance;
(b)
to the government of Canada, if all or part of a structure owned by
the government of Canada is within an applicable consultation
distance;
(c)
to a First Nation, if all or part of the First Nation's reserve within
the meaning of the
Indian Act
(Canada) is located within an applicable consultation distance;
(d)
to a person who has entered into an agreement with a land owner to
lease or rent a residence or a structure used for livestock on the
land, if all or part of the residence or structure is located within
an applicable consultation distance.
(2)
An applicant must provide an invitation to consult to a registered
land owner if all or part of any of the following are located within
the applicable consultation distance:
(a)
a residence occupied by the registered land owner;
(b)
a structure used by the registered land owner for livestock;
(c)
a school or related structure owned by the registered land owner.
Applicants for pipeline permits
9
An applicant for a pipeline permit must provide an invitation to
consult to a municipality and the minister responsible for the
administration of the
Transportation Act
if the pipeline is to be
(a)
located within the municipality and within the right of way of an
arterial highway or municipal highway within the meaning of the
Transportation Act
, and
(b)
used for transporting
(i)
petroleum, natural gas or both, or
(ii)
water associated with activities performed in relation to petroleum,
natural gas or both.
Division 3 — Who Must Be Notified
Rights holders
10
An applicant must provide a notice to a rights holder if
(a)
the proposed activities are to be carried out on an area subject to
the rights of the rights holder, and
(b)
the applicant has not provided to the rights holder an invitation to
consult.
Persons within notification distance
11
(1)
Subject to subsection (3), an applicant must provide a notice as
follows:
(a)
to a local authority, if all or part of a structure owned by the local
authority is within an applicable notification distance;
(b)
to the government of Canada, if all or part of a structure owned by
the government of Canada is within an applicable notification
distance;
(c)
to a First Nation, if all or part of the First Nation's reserve within
the meaning of the
Indian Act
(Canada) is located within an applicable notification distance;
(d)
to a registered land owner, if all or part of the registered land
owner's land is located within an applicable notification distance.
(2)
Subject to subsection (3), an applicant must provide a notice as
follows if all or part of a known community watershed is established
or continued under the Act and is located within an applicable
notification distance:
(a)
to each person who holds a licence issued under the
Water Sustainability Act
, whether a conditional licence or a final licence, with respect to
the community watershed;
(b)
to each person who holds a construction permit or operating permit
issued under the
Drinking Water Protection Act
with respect to the community watershed.
(3)
An applicant is not required under this section to provide a notice to
(a)
a land owner to whom the applicant gave notice under
section 22 (2) or 31 (1) of the Act with respect to the
same application, or
(b)
a person to whom the applicant provided an invitation to consult.
Invitation to consult permitted instead
12
An applicant who is required to provide a notice under this Division
may instead provide an invitation to consult.
Division 4 — If Proposed Activities Are Revised
Application of Division
13
(1)
This Division applies to an applicant referred to in section 3
[applicants for permits]
who revises the proposed activities that will be the subject of the
applicant's application in one or more of the following ways:
(a)
by changing the area on which the applicant intends to carry out
proposed activities by increasing that area by one hectare or more or
shifting that area by 100 metres or more;
(b)
by adding to the proposed activities the drilling of a new well;
(c)
by adding to the proposed activities any of the following:
(i)
the construction of a new pipeline;
(ii)
the construction of a new facility;
(iii)
the installation of new storage tanks, compressors, dehydrators, flare
stacks, generators or stabilizers;
(iv)
the installation of new gas processing equipment for fractionation,
liquefaction or extraction of hydrocarbons or other substances;
(v)
without limiting subparagraph (i), (ii), (iii) or (iv), the
installation of any new major equipment that may significantly
increase the amount or duration of the noise, dust, light and odours,
or anticipated vehicle traffic on oil and gas roads within the
consultation distance, if applicable, that will be caused by the
proposed activities;
(d)
by increasing the capacity of a proposed facility for petroleum,
natural gas or water so as to change the class of the facility.
(2)
This Division applies to an applicant referred to in section 4 or 5
[applicants for amendments or extensions]
if the commission requires this.
Extent of obligations on revision
14
(1)
Subject to subsection (2), an applicant to whom this Division applies
must provide to a person or body an invitation to consult or a notice
in accordance with Division 2 or 3, as applicable, with
respect to
(a)
the entirety of the applicant's proposed activities as revised, if the
applicant did not previously provide to the person or body an
invitation to consult or a notice under those Divisions, or
(b)
the revisions to the applicant's proposed activities, if the applicant
previously provided to the person or body an invitation to consult or
a notice in accordance with those Divisions.
(2)
If the proposed activities of an applicant to whom this Division
applies are revised to add the construction of a new pipeline and the
pipeline will not be used to transport sour gas, the applicant is
required only to provide an invitation to consult as described in
subsection (1) to land owners on whose land the new pipeline will
be constructed.
(3)
For the purposes of subsection (2),
"sour gas"
has the same meaning as in CSA Z662, Oil and gas pipeline
systems, published by the Canadian Standards Association and as
amended from time to time.
Division 5 — Consultation and Notification Distances
Definitions
15
In this Division:
"facility area"
means an area within which an applicant intends to locate one or more
facilities;
"LNG facility"
has the same meaning as in the Liquefied Natural Gas Facility
Regulation.
Measuring consultation and notification distances
16
For the purposes of this regulation, consultation distances and
notification distances are measured as the horizontal distance, in
metres, from
(a)
the centre point of a facility area or wellsite, and
(b)
the centre line of a pipeline right of way, oil and gas road right of
way or seismic line.
Consultation and notification distances
17
For a proposed activity described in column 1 of the following table,
(a)
the consultation distance is the distance set out opposite the
activity in column 2, and
(b)
the notification distance is the distance set out opposite the
activity in column 3:
Item
Column 1
Proposed Activity
Column 2
Consultation
Distance (m)
Column 3
Notification
Distance (m)
1
The use of an LNG facility, petroleum refinery, natural gas
manufacturing plant or a gas processing plant that is a
Class C natural gas facility and that is not the subject of
an environmental assessment certificate under the
Environmental Assessment Act
3 300
3 300
2
Facilities that are not listed in item 1 and have a facility
area or wellsite measuring ≥ 5 ha
1 300
1 800
3
Facilities that are not listed in item 1 and have a facility
area or wellsite measuring < 5 ha
1 000
1 500
4
A wellsite measuring ≥ 5 ha
1 300
1 800
5
A wellsite measuring < 5 ha
1 000
1 500
6
The use of a pipeline or the construction of an oil and gas road
200
200
7
The carrying out of geophysical exploration
not applicable
400
Division 6 — How to Carry Out Consultation or Notification
Definitions
18
In this Division:
"recipient"
means a person to whom an applicant provides an invitation to consult
or a notice;
"respondent"
means a recipient who, within 30 days after the service date with
respect to an invitation to consult or a notice, as applicable,
provides a response to an applicant;
"response"
means one or both of the responses referred to in
section 19 (4)
[information to be provided in all cases]
or 20 (3)
[additional information to be provided if obligation to consult]
, as applicable.
Information to be provided in all cases
19
(1)
An applicant who is required to provide to a person or body an
invitation to consult or a notice must provide to the person or body,
in writing, all of the information set out in this section.
(2)
An applicant must provide
(a)
the name of the applicant, and
(b)
the name, telephone number and email address of the applicant's
contact person.
(3)
An applicant must describe all of the following:
(a)
the location of the proposed activities, including a map that shows
the location in relation to dwellings, public facilities and nearby
urban centres;
(b)
the proposed activities, including
(i)
the significant structures and equipment that will be used, and
(ii)
the roads that will be constructed;
(c)
the proposed related activities;
(d)
how, if at all, the proposed activities relate to existing oil and gas
activities being carried out within the notification distance or
consultation distance, as applicable;
(e)
the approximate order in which the proposed activities will be carried
out.
(4)
An applicant must advise that a recipient may, within 30 days of the
service date, provide a written response to the applicant stating
whether the recipient has any concerns with the applicant's proposed
activities, and, if so, the reasons for those concerns.
(5)
An applicant referred to in section 3
[applicants for permits]
of this regulation must advise that a recipient may make a submission
to the commission under section 22 (5) of the Act.
Additional information to be provided if obligation to consult
20
(1)
In addition to the information that must be provided under
section 19
[information to be provided in all cases]
, an applicant who is required to provide to a person or body an
invitation to consult must provide to the person or body, in writing,
all of the information set out in this section.
(2)
For each phase of the proposed activities, an applicant must
(a)
provide an estimate of the dates that the phase will begin and end,
and
(b)
describe the nature and extent of
(i)
reasonably foreseeable noise, dust, light and odours that will be
caused by the proposed activities and the measures that will be taken
to mitigate their negative effects, and
(ii)
anticipated vehicle traffic on oil and gas roads within the
consultation distance, if section 8
[persons within consultation distance]
applies.
(3)
An applicant must advise that a recipient may, within 30 days of the
service date, provide a written request to the applicant for a meeting
to discuss the proposed activities.
Replying to respondents
21
(1)
An applicant who receives a response requesting a meeting with respect
to an invitation to consult must make reasonable efforts to meet with
the respondent.
(2)
An applicant must provide to each respondent, as soon as practicable,
a written reply that includes all of the following:
(a)
if applicable, a summary of the meeting with the respondent;
(b)
a description of the revisions, if any, that will be made to the
proposed activities based on the concerns, if any, raised by the
respondent;
(c)
a statement advising that the respondent's response and the
applicant's reply under this subsection will be included in the
written report referred to in section 24 (1) (c),
31 (6) or 32 (4) of the Act, as applicable;
(d)
if applicable, a statement advising that the respondent may make a
submission to the commission under section 22 (5) of the
Act.
When obligations end
22
(1)
In this section,
"consultation period"
, in relation to a recipient, means the period that
(a)
begins, subject to subsection (4), on the service date that applies
with respect to an invitation to consult, a notice or both, as
applicable, and
(b)
ends 30 days after the period begins.
(2)
If an applicant receives no response from a recipient on or before the
date that the consultation period ends, the applicant has no further
obligation to consult with or notify the recipient after the
consultation period ends.
(3)
If an applicant receives a response from a respondent on or before the
date that the consultation period ends, the applicant has no further
obligation to consult with or notify the respondent after the earliest
of the following dates that applies:
(a)
the date that the respondent indicates that the respondent has no
concerns or, if applicable, is not requesting a meeting;
(b)
the date that the respondent withdraws all stated concerns or, if
applicable, withdraws a request for a meeting;
(c)
the date on which the applicant provided a reply to the respondent
under section 21 (2)
[replying to respondents]
.
(4)
If section 14
[extent of obligations on revision]
applies, the consultation period in relation to a recipient restarts
on the date that the applicant complies with the applicant's
obligations to the recipient under that section.
Part 3 — Notice Before Entry
Notice before entry
23
For the purposes of section 23 (3) of the Act, a person who intends to
enter on land under section 23 (2) of the Act must provide
to the land owner, at least 2 days before entering on the land, a
notice that contains all of the following information:
(a)
the name of the person who intends to enter on the land;
(b)
the name, phone number and email address of a contact person for the
person referred to in paragraph (a);
(c)
a copy of the preliminary plan, if any, submitted to the commission
under section 23 (1) of the Act;
(d)
a description of the portion of land to be surveyed or examined and of
the activities to be undertaken for the purpose of fixing the site of
the pipeline;
(e)
a description of the approximate order in which the activities
referred to in paragraph (d) will be carried out;
(f)
a statement advising the land owner that if the person who intends to
enter on the land further intends to apply to the commission for a
pipeline permit respecting a pipeline to be located on the land, the
person will provide an invitation to consult or a notice to the land
owner in accordance with the Act and this regulation.
[Provisions relevant to the enactment of this regulation:
Oil and Gas Activities Act
, S.B.C. 2008, c. 36, ss. 106 and 107.]
