"Point in Time" Regulation Content
Securities Act
National Instrument 41-101 Prospectus Disclosure Requirements
B.C. Reg. 423/2000
Regulation BEFORE repealed by BC Reg 59/2008, effective March 17,
2008.
B.C. Reg. 423/2000
British Columbia Securities Commission
Deposited December 18, 2000
effective December 31, 2000
Securities Act
National Instrument 41-101
Prospectus Disclosure Requirements
Part 1 - Application And Interpretation
Application
1.1
Except as otherwise provided in securities legislation or an
exemption from securities legislation, this Instrument applies to
a prospectus.
Interpretation of "Prospectus"
1.2
In this Instrument, unless otherwise stated, a reference to a
prospectus includes a preliminary prospectus.
Variations
1.3
An issuer may modify the statements required by this Instrument to
be included in a prospectus to reflect the terms and conditions of
a distribution of the issuer's securities.
Part 2 - Front Page Disclosure
Prospectus Warning and Disclaimer Clause
2.1
An issuer shall include the following statement in italics at the
top of the cover page of its prospectus:
"No securities regulatory authority has expressed an opinion
about these securities and it is an offence to claim otherwise."
Preliminary Prospectus Disclosure
2.2
An issuer shall include the following statement in red ink and
italics at the top of the cover page immediately above the
disclosure required under section 2.1, with the bracketed
information completed:
"A copy of this preliminary prospectus has been filed with the
securities regulatory authority(ies) in [each of/certain of the
provinces/provinces and territories of Canada] but has not yet
become final for the purpose of the sale of securities.
Information contained in this preliminary prospectus may not be
complete and may have to be amended. The securities may not be
sold until a receipt for the prospectus is obtained from the
securities regulatory authority(ies)."
INSTRUCTION
Issuers shall complete the bracketed information by (i)
inserting the names of each jurisdiction in which the
issuer intends to offer securities under the prospectus;
(ii) stating that the filing has been made in each of the
provinces of Canada or each of the provinces and
territories of Canada; or (iii) identifying the filing
jurisdictions by exception (i.e., every province of Canada
or every province and territory of Canada, except
[excluded jurisdictions]).
International Issuers
2.3
(1)  If the issuer, a selling securityholder, a credit
supporter of the securities distributed under the prospectus or a
promoter of the issuer is incorporated, continued, or otherwise
organized under the laws of a foreign jurisdiction or resides
outside of Canada, state the following on the cover page or under
a separate heading elsewhere in the prospectus, with the bracketed
information completed:
"The [name of the issuer, selling securityholder, credit supporter
and/or promoter] is incorporated, continued or otherwise organized
under the laws of a foreign jurisdiction or resides outside of
Canada. Although [name of the issuer, selling securityholder,
credit supporter and/or promoter] has appointed [name(s) and
address(es) of agent(s) for service] as its agent(s) for service
of process in [name of province or territory], it may not be
possible for investors to collect from the issuer, selling
securityholder, credit supporter or promoter, judgments obtained
in courts in [name of provinces and territories] predicated on the
civil liability provisions of securities legislation."
(2)  For the purposes of subsection (1), "credit supporter"
has the meaning ascribed to that term in National Instrument
44-101 Short Form Prospectus Distributions.
Part 3 - Plan Of Distribution Disclosure
Plan of Distribution Disclosure
3.1
If an underwriter has agreed to purchase all of the securities
being distributed at a specified price and the underwriter's
obligations are subject to conditions, an issuer shall include the
following statements in its prospectus with the bracketed
information completed:
1. On the cover page of the prospectus:
"We, as principals, conditionally offer these securities, subject
to prior sale, if, as and when issued by [name of issuer] and
accepted by us in accordance with the conditions contained in the
underwriting agreement referred to under Plan of Distribution."
2. In the section of the prospectus that describes the plan of
distribution of the securities:
"Under an agreement dated [date of agreement] between [name of
issuer or selling shareholder] and [name(s) of underwriter(s)], as
underwriter[s], [name of issuer or selling shareholder] has agreed
to sell and the underwriter[s] [has/have] agreed to purchase on
[closing date] the securities at a price of [offering price]
payable in cash to [name of issuer or selling shareholder] against
delivery. The obligations of the underwriter[s] under the
agreement may be terminated at [its/their] discretion on the basis
of [its/their] assessment of the state of the financial markets
and may also be terminated upon the occurrence of certain stated
events. The underwriter[s] [is/are], however, obligated to take up
and pay for all the securities if any of the securities are
purchased under the agreement."
Part 4 - Statutory Rights Of Withdrawal And Rescission
General
4.1
An issuer shall include a statement in substantially the following
form, with bracketed information completed, in its prospectus:
"Securities legislation in [certain of the provinces [and
territories] of Canada/the Province of [insert name of local
jurisdiction, if applicable]] provides purchasers with the right
to withdraw from an agreement to purchase securities. This right
may be exercised within two business days after receipt or deemed
receipt of a prospectus and any amendment. [In several of the
provinces/provinces and territories], [T/t]he securities
legislation further provides a purchaser with remedies for
rescission [or [, in some jurisdictions,] damages] if the
prospectus and any amendment contains a misrepresentation or is
not delivered to the purchaser, provided that the remedies for
rescission [or damages] are exercised by the purchaser within the
time limit prescribed by the securities legislation of the
purchaser's province [or territory]. The purchaser should refer to
any applicable provisions of the securities legislation of the
purchaser's province [or territory] for the particulars of these
rights or consult with a legal adviser."
Non-Fixed Price Offerings
4.2
In the case of a non-fixed price offering, replace, if applicable,
in the jurisdiction in which the prospectus is filed, the second
sentence in the legend in item 4.1 with a statement in
substantially the following form:
"This right may only be exercised within two business days after
receipt or deemed receipt of a prospectus and any amendment,
irrespective of the determination at a later date of the purchase
price of the securities distributed."
Part 5 - Exemption
Exemption
5.1
(1)  The regulator or the securities regulatory authority may
grant an exemption, in whole or in part, from the provisions of
this Instrument subject to such conditions or restrictions as may
be imposed in the exemption.
(2)  Despite subsection (1), in Ontario and Alberta, only the
regulator may grant such an exemption.
(3)  An application made to the securities regulatory
authority or regulator for an exemption from the provisions of
this Instrument shall include a letter or memorandum describing
the matters relating to the exemption and indicating why
consideration should be given to the granting of the exemption.
Evidence of Exemption
5.2
(1)  Without limiting the manner in which an exemption under
this Part may be evidenced, the granting of an exemption under
this Part may be evidenced by the issuance of a receipt for a
prospectus or an amendment to a prospectus.
(2)  An exemption under this Part may be evidenced in the
manner set out in subsection (1) only if
(a) the person or company that sought the exemption sent the
regulator the letter or memorandum referred to in subsection 5.1
(3) on or before the date of the filing of the preliminary
prospectus;
(b) sent to the regulator the letter or memorandum referred
to in subsection 5.1 (3) after the date of the filing of the
preliminary prospectus and received a written acknowledgement from
the regulator that the exemption may be evidenced in the manner
set out in subsection (1); and
(c) the regulator has not sent notice to the contrary to the
person or company that sought the exemption before, or
concurrently with, the issuance of the receipt.
Part 6 - Effective Date
Effective Date
6.1
This Instrument shall come into force on December 31, 2000.
[Provisions of the
Securities Act
, R.S.B.C. 1996, c. 418, relevant to the enactment of this
regulation: section 184]
