Requirements for Consultation and
Notification Regulation
Oil and Gas Activities Act
Item
Column 1
Proposed Activity
Column 2
Consultation
Distance (m)
Column 3
Notification
Distance (m)
1
The use of an LNG facility, petroleum refinery, natural gas
manufacturing plant or a gas processing plant that is a
Class C natural gas facility and that is not the subject of
an environmental assessment certificate under the
Environmental Assessment Act
3 300
3 300
2
Facilities that are not listed in item 1 and have a facility
area or wellsite measuring ≥ 5 ha
1 300
1 800
3
Facilities that are not listed in item 1 and have a facility
area or wellsite measuring < 5 ha
1 000
1 500
4
A wellsite measuring ≥ 5 ha
1 300
1 800
5
A wellsite measuring < 5 ha
1 000
1 500
6
The use of a pipeline or the construction of an oil and gas road
200
200
7
The carrying out of geophysical exploration
not applicable
400
