

National Instrument 41-101
General Prospectus Requirements


Securities Act




B.



If "YES" to 4A above, provide the names of each reporting
issuer. State the position(s) held and the period(s) during
which you held the position(s). Use an attachment if necessary.





NAME OF REPORTING ISSUER


POSITION(S) HELD


MARKET TRADED ON


FROM


TO




MM


YY


MM


YY






































