

National Instrument 41-101
General Prospectus Requirements


Securities Act




Fee


What the plan pays


What the fee is for


Who the fee is paid to



Administrative fee

[
Specify amount
]


[
Specify the purpose
]


[
Insert name of entity
]



Portfolio management fee

[
Specify amount
]


[
Specify the purpose
]


[
Insert name of entity
]



Custodian fee

[
Specify amount
]


[
Specify the purpose
]


[
Insert name of entity
]



Independent review committee fee

[
Specify amount
]


[
Specify the purpose
]


[
Insert name of entity
]




[
Specify other fees and expenses
]


[
Specify amount
]


[
Specify the purpose
]


[
Insert name of entity
]


