

National Instrument 41-101
General Prospectus Requirements


Securities Act




ESCROWED SECURITIES AND SECURITIES SUBJECT TO CONTRACTUAL
RESTRICTION ON TRANSFER




Designation of class



Number of securities held in

escrow or that are subject to

a contractual restriction on transfer



Percentage of class







