

National Instrument 41-101
General Prospectus Requirements


Securities Act






[
Insert most recently completed Financial Year
]




[
Insert most recently completed Financial Year minus 1
]




[
Insert most recently completed Financial Year minus 2
]




[
Insert most recently completed Financial Year minus 3
]




[
Insert most recently completed Financial Year minus 4
]





Annual Return


[
Specify annual return
] %


[
Specify annual return
] %


[
Specify annual return
] %


[
Specify annual return
] %


[
Specify annual return
] %


