

National Instrument 41-101
General Prospectus Requirements


Securities Act




Significant Holdings of the
[name of the labour sponsored or venture capital fund]




Name and Address of Entity


Nature of Entities' Principal Business


Percentage of Securities of each Class Owned by Fund



-------
-------
-------

