

National Instrument 41-101
General Prospectus Requirements


Securities Act




F.



RESIDENTIAL HISTORY — Provide all residential addresses for the
past 10 YEARS starting with your current principal residential
address. If you are unable to recall the complete residential
address for a period, which is beyond five years from the date
of completion of this Form, the municipality and province or
state and country must be identified. The regulator reserves the
right to require the full address.






STREET ADDRESS, CITY, PROVINCE/STATE, COUNTRY & POSTAL/ZIP
CODE



FROM


TO





MM


YY


MM


YY























