

National Instrument 55-101
Exemption from Certain Insider Reporting Requirements


Securities Act




B.C. Reg. 138/2001


British Columbia Securities Commission



Deposited May 3, 2001

effective May 15, 2001


