

National Instrument 41-101
General Prospectus Requirements


Securities Act




Fee


What you pay


What the fee is for


Who the fee is paid to



Sales charge

[
Specify amount
]


This is the commission for selling your plan.


[
Insert name of entity
]



Account maintenance fee

[
Specify amount
]


[
Specify the purpose of the fee
]


[
Insert name of entity
]




[
Insert if applicable
— Insurance Premium]


[
Specify amount
]


This is for insurance that makes sure your contributions continue
if you die or become totally disabled.


[
Insert name of entity
]


