

National Instrument 41-101
General Prospectus Requirements


Securities Act





YES


NO




A.


Have you ever, in any Canadian or foreign jurisdiction, pled
guilty to or been found guilty of an Offence?






B.


Are you the subject of any current charge, indictment or
proceeding for an Offence, in any Canadian or foreign
jurisdiction?






C.


To the best of your knowledge, are you currently or have you

ever

been a director, officer, promoter, insider, or control person of
an issuer, in any Canadian or foreign jurisdiction, at the time of
events that resulted in the issuer:






(i) pleading guilty to or being found guilty of an Offence?






(ii) now being the subject of any charge, indictment or proceeding
for an alleged Offence?




