

National Instrument 41-101
General Prospectus Requirements


Securities Act







Annual rate

(as a % of the ETF's value)





Management expense ratio (MER)

This is the total of the ETF's management fee and operating
expenses.

(If the ETF pays a trailing commission, state the following: "This
is the total of the ETF's management fee (which includes the
trailing commission) and operating expenses.")

(see instruction 1)

(see instruction 2)



Trading expense ratio (TER)

These are the ETF's trading costs.

(see instruction 3)



ETF expenses

(see instruction 4)

