

National Instrument 41-101
General Prospectus Requirements


Securities Act





Fee


What you pay



Redemption Fee

Insert name of the manager of the ETF] may charge you up to [see
instruction 1]% of the value of your [units/shares] you redeem or
exchange directly from [insert name of the manager of the ETF].

(see instruction 1)




Other fees [
specify type
]


[
specify amount
]

(see instructions 2 and 3)


