

National Instrument 41-101
General Prospectus Requirements


Securities Act




Fee


What you pay


How the fee is paid


Who the fee is paid to




[
Specify type of fee
]


$[
Specify amount
]


[
Insert how the fee is charged
]


[
Insert name of entity
]


