

National Instrument 41-101
General Prospectus Requirements


Securities Act




Year of studies


Payments from EAP account by beneficiary group





[
Most recent year
]




[
Most recent year minus 1
]




[
Most recent year minus 2
]




[
Most recent year minus 3
]




[
Most recent year minus 4
]





First year [
if applicable
] [
See Instruction (2)
]


$[
Specify amount
] per unit


$[
Specify amount
] per unit


$[
Specify amount
] per unit


$[
Specify amount
] per unit


$[
Specify amount
] per unit



Second year
See note 1

$[
Specify amount
] per unit


$[
Specify amount
] per unit


$[
Specify amount
] per unit


$[
Specify amount
] per unit



Third year
See note 1
See note 1

$[
Specify amount
] per unit


$[
Specify amount
] per unit


$[
Specify amount
] per unit



Fourth year
See note 1
See note 1
See note 1

$[
Specify amount
] per unit


$[
Specify amount
] per unit


