

National Instrument 41-101
General Prospectus Requirements


Securities Act




Dated:
..................................................................................


.........................................................................

Signature of Filing Person





................................................................................................

Print name of person signing and, if Filing Person

is not an individual, the title of the person


