@keyframes textExpand {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 320px;
  background-color: var(--sidebar-background-color);
  padding: 10px;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  height: 100vh;
  color: var(--sidebar-text-color);

  &.collapsed {
    width: 75px;
  }

  .sidebar-header,
  .new-chat,
  .bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;

    &:hover {
      background-color: var(--sidebar-hover-color);
    }

    &:active {
      background-color: var(--sidebar-hover-color-active);
    }
  }

  .new-chat {
    margin-top: 60px;
    background-color: var(--sidebar-new-chat-background-color);
    width: 100%;
  }

  .recent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    .recent-title {
      font-weight: bold;
      padding: 15px;
    }

    .recent-entry {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      border-radius: 50px;
      padding: 10px 20px;

      &:hover {
        background-color: var(--sidebar-hover-color);
      }

      &:active {
        background-color: var(--sidebar-hover-color-active);
      }
    }

    img {
      width: 20px;
      margin-left: 5px;
    }
  }

  .bottom {
    margin-top: auto;
    margin-bottom: 30px;
    width: 100%;
  }

  img {
    width: 25px;
  }

  p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &.expanded .new-chat p,
  &.expanded .bottom p,
  &.expanded .recent-title p,
  &.expanded .recent-entry p {
    max-width: 100%;
    animation: textExpand 1s steps(20, end) both;
  }
}
