@keyframes textExpand {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
  background-color: var(--sidebar-background-color);
  padding: 10px;
  transition: width 0.4s ease;
  height: 100vh;
  color: var(--sidebar-text-color);

  &.collapsed {
    width: 75px;
  }

  .menu-icon {
    margin-top: 25px;
  }

  .sidebar-header,
  .new-chat,
  .bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .sidebar-header,
  .bottom {
    margin-left: 15px;
  }

  .new-chat {
    margin-top: 70px;
    border-radius: 50px;
    background-color: var(--sidebar-hover-color);
    padding: 15px;
    transition: max-width 0.8s ease;
    width: 100%;
  }

  .bottom {
    margin-top: auto;
    margin-bottom: 30px;
  }

  img {
    width: 25px;
  }

  p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
    transition: max-width 0.4s ease;
  }

  &.expanded p {
    max-width: 100%;
    animation: textExpand 0.4s steps(10, end) forwards;
  }

  &.collapsed p {
    max-width: 0;
  }
}
