@import '@bcgov/bc-sans/css/BCSans';

:root {
  --background-color: hsl(0, 0%, 2%);
  --text-color: #ffffffde;
  --gradient-start: #598ff0;
  --gradient-end: #b1c5ff;
  --button-bg-color: #096eff;
  --button-hover-brightness: 90%;
  --error-gradient-start: #ff5f5f;
  --error-gradient-end: #ffb1b1;
  --sidebar-background-color: #1E1F20;
  --sidebar-text-color: #E3E3E3;
  --sidebar-hover-color: #2F3030;
  --main-background-color: #131314;
  --main-text-color: #C9CCCE;

  font-family: 'BCSans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
