fastapi
pydantic
uvicorn
#llama-index
#llama-index-core
neo4j
psycopg[binary]
psycopg2-binary
jinja2==3.0.3
python-multipart
sentence-transformers
trulens-eval==0.25.1
langchain==0.1.14
langchain_community==0.0.31
#langchain
#langchain_community
python-multipart
python-keycloak
pytest
httpx